<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <!--
       <property name="connection.url">jdbc:sqlite:C:\Users\Brein\AppData\Roaming\hostess\database.db</property>
-->
       <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
       <property name="hibernate.hbm2ddl.auto">update</property>
       <!-- debugging
       <property name="show_sql">true</property>
       <property name="format_sql">true</property>
       <property name="use_sql_comments">true</property> -->
        <!-- Mapping -->
        <mapping class="es.hostess.app.entities.HostsCompiled"/>
        <mapping class="es.hostess.app.entities.CompiledSource"/>
        <mapping class="es.hostess.app.entities.HostsLocal"/>
        <mapping class="es.hostess.app.entities.HostsSource"/>
    </session-factory>
</hibernate-configuration>